@mixin fullSize {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

// I CICLI : ESEMPI

// CICLO FOR
// @for $i from 1 through 5 {
//
//   .margin#{$i} {
//     margin: $i * 10px;
//   }
//
// }



// CICLO EACH
// @each $i in item1, item2 {
//   .#{$i} {
//     width: 500px;
//   }
// }

// CICLO WHILE
// $i: 6;
// @while $i > 0 {
//   .padding-#{$i}{
//     padding: $i * 10px;
//   }
//   $i: $i - 2;
// }

// @for $k from 1 through 4 {
//   .Margin-top-#{$k*15}{
//     margin-top: $k*15px;
//   }
// }
//
// $i: 4;
// @while $i > 0 {
//   .Margin-top-#{$i*15}{
//     margin-top: $i * 15px;
//   }
//   $i: $i - 1;
// }
