header{

  section.n1{
    background-color: black;

    .my-container{
      width: 1200px;
      margin: auto;


      .navbar-up{
        height: 50px;

        a{
          color: grey;
        }

        i{
          color: blue;
        }
        // background-color: red;
        display: flex;
        justify-content: flex-end;

        ul{
          display: flex;
        }

        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 70px;
          height: 19px;
          border-radius: 3px;
          font-size: 12px;
          padding: 0 3px;
        }

      }

      .navbar-down{
        height: 50px;
        // background-color: green;
        display: flex;
        justify-content: flex-start;

        a{

          .my-header-logo{

            img{
              width: 90px;
              height: 24px;
            }
          }
        }

        a{
          color: white;
        }

        i{
          color: grey;
        }

        ul{
          display: flex;
        }

      }

    }

  }


  section.n2{
    background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
    height: 460px;
    background-size: cover;
    background-position: center;

  }
}
