@import "partials/_variables.scss";//tanmimdevroba ese unda iyos.. headeris importi unda iyos dabla radgan specifikurad magas exeba
@import "partials/_common.scss";

// es * unda iyos variables da commonis mere
*{
  box-sizing: border-box;
  margin: 0;
  /* DEBUG:  */
  border:1px solid black;
  padding:5px;
}


@import "partials/_header.scss";
@import "partials/_content.scss";
@import "partials/_footer.scss";





body, html{
  width: 100%;
  min-height: 100vh;
  font-family: arial, monospace;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}
// #prova{
//  color: red;
//  @include fullSize;
//  height: 200px;
//  background-color:$bg_primary;
//
// }
